@import "../../varibles.module";
@import '../../style.module';

.SliderBlock{
  position: absolute;
  top: 16%;
  z-index: 100;
  left: 120px;
}

.Keys{

  display: flex;

  div:nth-child(even){
    margin-left: 50px;
  }

  &__Stock{
    display: flex;
  }

  &__Circle{
    margin-right: 5px;
    margin-top: 2px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    border: 2px solid $colorWhite;
  }
}