@import "../../../varibles.module";


.TovarBlock{
  position: relative;
  border: 2px solid $colorWhite;
  border-radius: 12px;

  &__Info{
    *{
      margin-bottom: 10px;
    }
    input{
      position: absolute;
      left: 100px;
      width: 80%;
    }
    padding: 2px 5px;
  }

  &__btn{
    position: absolute;
    right: 1vw;
    top: 0.7vh;
  }
}