$colorBlack: #000000;
$colorGrean: #3FD371;
$colorGreanAct: #2EFD73;
$colorWhite: #FFFFFF;
$ColorGrey: #696969;
$ColorGreyWhite: #969696;
$colorRed: #F05A45;
$PaddingTop: 20vh;
$PaddingRight: 3vw;
$PaddingLeft: 3vw;

